# Comprehensive analysis of google store data

In [75]:
import os
import numpy as np
import pandas as pd
import json

from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from pandas.io.json import json_normalize

import warnings

import matplotlib.pyplot as plt

warnings.simplefilter("ignore")

%matplotlib inline

# Load the data

In [76]:
def load_data(path, nrows=None):

    json_cols = ['device', 'geoNetwork', 'totals', 'trafficSource']

    df = pd.read_csv(path, dtype={'fullVisitorId': 'str'}, nrows=nrows,
        converters={column: json.loads for column in json_cols},
        engine="c")

    for col in json_cols:
        col_as_df = json_normalize(df[col])
        col_as_df.columns = [f'{col}.{subcolumn}' 
            for subcolumn in col_as_df.columns]
        df = df.drop(col, axis=1).merge(col_as_df, right_index=True, left_index=True)
    
    print(f"Loaded {os.path.basename(path)}, data shape: {df.shape}")
    return df

In [77]:
DBG = False

np.random.seed(123)

nrows = 10000 if DBG else None

train = load_data('../input/train.csv', nrows)
# test = load_data('../input/test.csv', nrows)

Loaded train.csv, data shape: (903653, 55)

In [78]:
train.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device.browser,device.browserSize,...,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.campaign,trafficSource.campaignCode,trafficSource.isTrueDirect,trafficSource.keyword,trafficSource.medium,trafficSource.referralPath,trafficSource.source
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Firefox,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,UC Browser,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,google + online,organic,NaN,google
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,True,(not provided),organic,NaN,google

# Data clean and Add more Features

**Transform nonsense character into nan value**

In [79]:
na_vals = ['unknown.unknown', '(not set)', 'not available in demo dataset', 
           '(not provided)', '(none)', '<NA>']
for c in train.columns:
    is_na = train[c].isin(na_vals)
    train.loc[is_na, c] = np.nan

# remove const columns with nan or only a few of values
const_cols = [c for c in train.columns if train[c].notnull().sum() <= 1]
print(f"Only nan value column: {const_cols}")
train.drop(const_cols, axis=1, inplace=True)

Only nan value column: ['device.browserSize', 'device.browserVersion', 'device.flashVersion', 'device.language', 'device.mobileDeviceBranding', 'device.mobileDeviceInfo', 'device.mobileDeviceMarketingName', 'device.mobileDeviceModel', 'device.mobileInputSelector', 'device.operatingSystemVersion', 'device.screenColors', 'device.screenResolution', 'geoNetwork.cityId', 'geoNetwork.latitude', 'geoNetwork.longitude', 'geoNetwork.networkLocation', 'trafficSource.adwordsClickInfo.criteriaParameters', 'trafficSource.campaignCode']

In [80]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 37 columns):
channelGrouping                                 903653 non-null object
date                                            903653 non-null float64
fullVisitorId                                   903653 non-null object
sessionId                                       903653 non-null object
socialEngagementType                            903653 non-null object
visitId                                         903653 non-null float64
visitNumber                                     903653 non-null float64
visitStartTime                                  903653 non-null float64
device.browser                                  903645 non-null object
device.deviceCategory                           903653 non-null object
device.isMobile                                 903653 non-null float64
device.operatingSystem                          898958 non-null object
geoNetwork.city                                 361162 non-null object
geoNetwork.continent                            902185 non-null object
geoNetwork.country                              902185 non-null object
geoNetwork.metro                                193658 non-null object
geoNetwork.networkDomain                        512738 non-null object
geoNetwork.region                               367597 non-null object
geoNetwork.subContinent                         902185 non-null object
totals.bounces                                  450630 non-null object
totals.hits                                     903653 non-null object
totals.newVisits                                703060 non-null object
totals.pageviews                                903553 non-null object
totals.transactionRevenue                       11515 non-null object
totals.visits                                   903653 non-null object
trafficSource.adContent                         10946 non-null object
trafficSource.adwordsClickInfo.adNetworkType    21460 non-null object
trafficSource.adwordsClickInfo.gclId            21561 non-null object
trafficSource.adwordsClickInfo.isVideoAd        21460 non-null object
trafficSource.adwordsClickInfo.page             21460 non-null object
trafficSource.adwordsClickInfo.slot             21460 non-null object
trafficSource.campaign                          38306 non-null object
trafficSource.isTrueDirect                      274005 non-null object
trafficSource.keyword                           34361 non-null object
trafficSource.medium                            760507 non-null object
trafficSource.referralPath                      330941 non-null object
trafficSource.source                            903584 non-null object
dtypes: float64(5), object(32)
memory usage: 255.1+ MB

# Check the y target

first need to convert the target column into float

In [81]:

y_name = 'totals.transactionRevenue'
train[y_name] = train[y_name].astype(float)
# train[y_name].hist()
train[y_name].fillna(0).quantile(np.arange(0, 1.01, 0.1))

0.0    0.000000e+00
0.1    0.000000e+00
0.2    0.000000e+00
0.3    0.000000e+00
0.4    0.000000e+00
0.5    0.000000e+00
0.6    0.000000e+00
0.7    0.000000e+00
0.8    0.000000e+00
0.9    0.000000e+00
1.0    2.312950e+10
Name: totals.transactionRevenue, dtype: float64

In [82]:
train[y_name].quantile(np.arange(0, 1.01, 0.1))

0.0    1.000000e+04
0.1    1.519000e+07
0.2    1.999000e+07
0.3    2.849000e+07
0.4    3.786600e+07
0.5    4.945000e+07
0.6    6.507200e+07
0.7    8.994600e+07
0.8    1.370140e+08
0.9    2.790540e+08
1.0    2.312950e+10
Name: totals.transactionRevenue, dtype: float64



**Raw features of original columns**

In [83]:
sc = train.columns.tolist()[:8]
train[sc].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 8 columns):
channelGrouping         903653 non-null object
date                    903653 non-null float64
fullVisitorId           903653 non-null object
sessionId               903653 non-null object
socialEngagementType    903653 non-null object
visitId                 903653 non-null float64
visitNumber             903653 non-null float64
visitStartTime          903653 non-null float64
dtypes: float64(4), object(4)
memory usage: 55.2+ MB

In [84]:
train[sc].nunique()

channelGrouping              8
date                       366
fullVisitorId           714167
sessionId               902755
socialEngagementType         1
visitId                 886303
visitNumber                384
visitStartTime          887159
dtype: int64

In [85]:
# convert date object into datetime
# train['date'] = pd.to_datetime(train['date'].astype(int).astype(str))

In [86]:
train[['fullVisitorId','sessionId', 'visitId']].head()

         fullVisitorId                       sessionId       visitId
0  1131660440785968503  1131660440785968503_1472830385  1.472830e+09
1   377306020877927890   377306020877927890_1472880147  1.472880e+09
2  3895546263509774583  3895546263509774583_1472865386  1.472865e+09
3  4763447161404445595  4763447161404445595_1472881213  1.472881e+09
4    27294437909732085    27294437909732085_1472822600  1.472823e+09

In [87]:
train['visitId'].astype(int).astype(str).head()

0    1472830385
1    1472880147
2    1472865386
3    1472881213
4    1472822600
Name: visitId, dtype: object

In [88]:
# let's check fullVistorId equal to sessionId the front part
non_equal_cnt = np.sum(train['sessionId'].apply(lambda s: s.split('_')[0]) != train['fullVisitorId'])
print(f"sessionId first part equal to fullVisitorId: {non_equal_cnt == 0}")

train['visitId'] = train['visitId'].astype(int).astype(str)
nec = np.sum(train[['fullVisitorId', 'visitId']].apply(lambda x: '_'.join(x), axis=1) != train['sessionId'])
print(f"sessionId = fullVisitorId_visitId: {nec == 0}")

# If sessionId = fullVsisitorId_visitId, we could remove sessionId safely

sessionId first part equal to fullVisitorId: True
sessionId = fullVisitorId_visitId: True

In [89]:
train['socialEngagementType'].value_counts()

Not Socially Engaged    903653
Name: socialEngagementType, dtype: int64

In [90]:
train['channelGrouping'].value_counts()

Organic Search    381561
Social            226117
Direct            143026
Referral          104838
Paid Search        25326
Affiliates         16403
Display             6262
(Other)              120
Name: channelGrouping, dtype: int64

In [91]:
train[['visitNumber', 'visitStartTime']].head()

   visitNumber  visitStartTime
0          1.0    1.472830e+09
1          1.0    1.472880e+09
2          1.0    1.472865e+09
3          1.0    1.472881e+09
4          2.0    1.472823e+09

In [92]:
train['visitStartTime'].astype(int).head()     # it's a timestamp int

0    1472830385
1    1472880147
2    1472865386
3    1472881213
4    1472822600
Name: visitStartTime, dtype: int64

In [93]:
dt2 = pd.to_datetime(train['visitStartTime'].astype(int).astype(str), unit='s')
dt2.tail(10)

903643   2017-01-05 07:10:46
903644   2017-01-04 18:58:53
903645   2017-01-04 22:54:14
903646   2017-01-05 02:02:40
903647   2017-01-04 19:23:28
903648   2017-01-04 18:32:30
903649   2017-01-04 15:29:58
903650   2017-01-04 10:40:34
903651   2017-01-05 05:07:44
903652   2017-01-05 00:01:14
Name: visitStartTime, dtype: datetime64[ns]

In [134]:
dt2.min(), dt2.max()

(Timestamp('2016-08-01 07:00:12'), Timestamp('2017-08-02 06:59:53'))

In [94]:
dt = pd.to_datetime(train['date'].astype(int).astype(str), utc="Los Angeles")
dt.tail(10)

903643   2017-01-04 00:00:00+00:00
903644   2017-01-04 00:00:00+00:00
903645   2017-01-04 00:00:00+00:00
903646   2017-01-04 00:00:00+00:00
903647   2017-01-04 00:00:00+00:00
903648   2017-01-04 00:00:00+00:00
903649   2017-01-04 00:00:00+00:00
903650   2017-01-04 00:00:00+00:00
903651   2017-01-04 00:00:00+00:00
903652   2017-01-04 00:00:00+00:00
Name: date, dtype: datetime64[ns, UTC]

# Section Summary

y target: totals.transactionRevenue -> float

data date: date -> to_datetime

timestamp: visitStartTime -> int

visitNumber -> int     for memory saving

sessionId should be dropped

date columns could be dropped due to not accordindate with visitStartTime or just keep it.

Also visitStartTime should consider each city time zone 

utc-time with local time: https://www.kaggle.com/xavierbourretsicotte/localizing-utc-time-eda-and-walkthrough

# Device Exploration

In [144]:
sc = [c for c in train.columns if 'device' in c]
train[sc].head()

,device.browser,device.deviceCategory,device.isMobile,device.operatingSystem
230774,Chrome,desktop,0,Macintosh
89784,Chrome,desktop,0,Windows
683463,Chrome,desktop,0,Macintosh
648840,Chrome,desktop,0,Windows
683201,Chrome,desktop,0,Macintosh

In [96]:

# only four columns kept?
# check it with larger data: 
# device.browser	device.deviceCategory	device.isMobile	device.operatingSystem
train[sc].nunique()

device.browser            53
device.deviceCategory      3
device.isMobile            2
device.operatingSystem    19
dtype: int64

In [97]:
train['device.isMobile'] = train['device.isMobile'].astype(int)

In [131]:
train['device.isMobile'].fillna(-1).value_counts()

0    664530
1    239123
Name: device.isMobile, dtype: int64

In [145]:
for c in sc:
    print(f"=======Device -- {c} Infomation: ==========")
    print(train[c].fillna('nan').value_counts() / train.shape[0])

=======Device -- device.browser Infomation: ==========
Chrome                                         0.686507
Safari                                         0.201676
Firefox                                        0.041021
Internet Explorer                              0.021441
Edge                                           0.011293
Android Webview                                0.008704
Safari (in-app)                                0.007580
Opera Mini                                     0.006794
Opera                                          0.006245
UC Browser                                     0.002686
YaBrowser                                      0.002319
Coc Coc                                        0.000805
Amazon Silk                                    0.000621
Android Browser                                0.000612
Mozilla Compatible Agent                       0.000414
MRCHROME                                       0.000291
Maxthon                                        0.000272
BlackBerry                                     0.000204
Nintendo Browser                               0.000155
Puffin                                         0.000103
Nokia Browser                                  0.000074
Iron                                           0.000037
LYF_LS_4002_12                                 0.000023
SeaMonkey                                      0.000017
Mozilla                                        0.000012
Seznam                                         0.000012
Apple-iPhone7C2                                0.000010
nan                                            0.000009
0                                              0.000008
Nichrome                                       0.000008
Lunascape                                      0.000006
osee2unifiedRelease                            0.000006
DASH_JR_3G                                     0.000004
ThumbSniper                                    0.000003
no-ua                                          0.000003
LYF_LS_4002_11                                 0.000003
NokiaE52-1                                     0.000002
Android Runtime                                0.000002
YE                                             0.000002
MQQBrowser                                     0.000002
CSM Click                                      0.000001
[Use default User-agent string] LIVRENPOCHE    0.000001
User Agent                                     0.000001
Changa 99695759                                0.000001
IE with Chrome Frame                           0.000001
subjectAgent: NoticiasBoom                     0.000001
Konqueror                                      0.000001
Hisense M20-M_LTE                              0.000001
ADM                                            0.000001
DoCoMo                                         0.000001
HTC802t_TD                                     0.000001
TCL P500M                                      0.000001
Reddit                                         0.000001
M5                                             0.000001
Name: device.browser, dtype: float64
=======Device -- device.deviceCategory Infomation: ==========
desktop    0.735325
mobile     0.230979
tablet     0.033695
Name: device.deviceCategory, dtype: float64
=======Device -- device.isMobile Infomation: ==========
0    0.735382
1    0.264618
Name: device.isMobile, dtype: float64
=======Device -- device.operatingSystem Infomation: ==========
Windows          0.387396
Macintosh        0.281013
Android          0.137101
iOS              0.119144
Linux            0.038769
Chrome OS        0.029145
nan              0.005196
Windows Phone    0.001346
Samsung          0.000310
BlackBerry       0.000241
Nintendo Wii     0.000111
Firefox OS       0.000098
Xbox             0.000073
Nintendo WiiU    0.000039
FreeBSD          0.000010
OpenBSD          0.000002
Nokia            0.000002
Nintendo 3DS     0.000001
SunOS            0.000001
NTT DoCoMo       0.000001
Name: device.operatingSystem, dtype: float64

# geoNetwork section

In [146]:
sc = [c for c in train.columns if 'geoNetwork' in c]
train[sc].head()

,geoNetwork.city,geoNetwork.continent,geoNetwork.country,geoNetwork.metro,geoNetwork.networkDomain,geoNetwork.region,geoNetwork.subContinent
230774,NaN,Oceania,New Zealand,NaN,xtra.co.nz,NaN,Australasia
89784,La Victoria,Americas,Peru,NaN,munitrujillo.gob.pe,Lima Region,South America
683463,NaN,Americas,United States,NaN,comcast.net,NaN,Northern America
648840,NaN,Americas,Brazil,NaN,virtua.com.br,NaN,South America
683201,Oakland,Americas,United States,San Francisco-Oakland-San Jose CA,comcastbusiness.net,California,Northern America

In [100]:
train[sc].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 7 columns):
geoNetwork.city             361162 non-null object
geoNetwork.continent        902185 non-null object
geoNetwork.country          902185 non-null object
geoNetwork.metro            193658 non-null object
geoNetwork.networkDomain    512738 non-null object
geoNetwork.region           367597 non-null object
geoNetwork.subContinent     902185 non-null object
dtypes: object(7)
memory usage: 48.3+ MB

In [147]:
for c in sc:
    print(f"=======geoNetwork -- {c} Infomation: ==========")
    print(train[c].fillna('nan').value_counts() / train.shape[0])

=======geoNetwork -- geoNetwork.city Infomation: ==========
nan                   0.600331
Mountain View         0.045243
New York              0.029183
San Francisco         0.022496
Sunnyvale             0.014481
London                0.013951
San Jose              0.011393
Los Angeles           0.009594
Bangkok               0.008531
Chicago               0.008238
Ho Chi Minh City      0.008125
Istanbul              0.007005
Bengaluru             0.006051
Toronto               0.005780
Hanoi                 0.005569
Seattle               0.005561
Sydney                0.005451
Dublin                0.005397
Sao Paulo             0.004544
Mumbai                0.004536
Chennai               0.004526
Paris                 0.004441
Hyderabad             0.004353
Austin                0.004194
Tel Aviv-Yafo         0.003920
Hong Kong             0.003882
Jakarta               0.003694
Singapore             0.003651
Warsaw                0.003639
New Delhi             0.003551
                        ...
Thane                 0.000007
Lincoln               0.000007
Marlboro              0.000007
Amherst               0.000007
Erzurum               0.000007
Zapopan               0.000007
New Westminster       0.000007
Islamabad             0.000007
Eskisehir             0.000007
Surat                 0.000007
Beirut                0.000007
Chisinau              0.000007
Naha                  0.000007
Ulaanbaatar           0.000007
Hermosillo            0.000007
Vadodara              0.000007
Lawrence Township     0.000007
Arnhem                0.000007
Coventry              0.000007
North Attleborough    0.000007
Wollongong            0.000007
Pryor                 0.000007
Deep River            0.000006
Douglasville          0.000006
Kumamoto              0.000006
San Salvador          0.000006
Campbell              0.000006
Daly City             0.000004
Bozeman               0.000003
Boise                 0.000003
Name: geoNetwork.city, Length: 648, dtype: float64
=======geoNetwork -- geoNetwork.continent Infomation: ==========
Americas    0.498396
Asia        0.247549
Europe      0.219455
Oceania     0.016659
Africa      0.016317
nan         0.001625
Name: geoNetwork.continent, dtype: float64
=======geoNetwork -- geoNetwork.country Infomation: ==========
United States               0.403633
India                       0.056593
United Kingdom              0.041380
Canada                      0.028627
Vietnam                     0.027221
Turkey                      0.022710
Thailand                    0.022269
Germany                     0.022110
Brazil                      0.021892
Japan                       0.021835
France                      0.017520
Mexico                      0.014635
Taiwan                      0.014382
Australia                   0.014052
Russia                      0.012905
Spain                       0.012901
Netherlands                 0.012674
Italy                       0.012540
Poland                      0.010726
Indonesia                   0.010262
Philippines                 0.010230
Singapore                   0.007937
Ireland                     0.007185
Malaysia                    0.007126
Romania                     0.007113
Ukraine                     0.006172
Israel                      0.006156
Peru                        0.006137
Sweden                      0.005882
South Korea                 0.005795
                              ...
Liechtenstein               0.000008
Timor-Leste                 0.000008
Lesotho                     0.000007
Antigua & Barbuda           0.000006
British Virgin Islands      0.000006
Turkmenistan                0.000006
Greenland                   0.000006
Equatorial Guinea           0.000004
Guinea-Bissau               0.000004
Caribbean Netherlands       0.000004
San Marino                  0.000004
Central African Republic    0.000004
Cook Islands                0.000003
Isle of Man                 0.000003
Congo - Brazzaville         0.000003
Seychelles                  0.000003
Dominica                    0.000003
Vanuatu                     0.000003
Comoros                     0.000002
Marshall Islands            0.000002
Åland Islands               0.000001
Eritrea                     0.000001
St. Barthélemy              0.000001
American Samoa              0.000001
St. Martin                  0.000001
Samoa                       0.000001
Norfolk Island              0.000001
St. Pierre & Miquelon       0.000001
Anguilla                    0.000001
São Tomé & Príncipe         0.000001
Name: geoNetwork.country, Length: 222, dtype: float64
=======geoNetwork -- geoNetwork.metro Infomation: ==========
nan                                          0.785694
San Francisco-Oakland-San Jose CA            0.106139
New York NY                                  0.029787
London                                       0.013911
Los Angeles CA                               0.011061
Seattle-Tacoma WA                            0.008457
Chicago IL                                   0.008394
Austin TX                                    0.004194
Washington DC (Hagerstown MD)                0.003740
Boston MA-Manchester NH                      0.002908
Houston TX                                   0.002739
Atlanta GA                                   0.002726
Detroit MI                                   0.002659
Roanoke-Lynchburg VA                         0.002464
Dallas-Ft. Worth TX                          0.002227
San Diego CA                                 0.001509
Portland OR                                  0.001460
Pittsburgh PA                                0.001191
Denver CO                                    0.000971
Philadelphia PA                              0.000885
Phoenix AZ                                   0.000594
Charlotte NC                                 0.000581
Columbus OH                                  0.000572
La Crosse-Eau Claire WI                      0.000438
San Antonio TX                               0.000435
Orlando-Daytona Beach-Melbourne FL           0.000398
JP_KANTO                                     0.000309
North West                                   0.000300
Minneapolis-St. Paul MN                      0.000218
Nashville TN                                 0.000211
                                               ...
Utica NY                                     0.000025
North Scotland                               0.000023
Honolulu HI                                  0.000023
HTV Wales                                    0.000022
Albany-Schenectady-Troy NY                   0.000021
Madison WI                                   0.000019
Greenville-Spartanburg-Asheville-Anderson    0.000018
Colorado Springs-Pueblo CO                   0.000018
Wheeling WV-Steubenville OH                  0.000015
HTV West                                     0.000014
Charlottesville VA                           0.000014
JP_OTHER                                     0.000013
Memphis TN                                   0.000011
Abilene-Sweetwater TX                        0.000011
Mankato MN                                   0.000010
Springfield MO                               0.000009
Panama City FL                               0.000009
Tri-Cities TN-VA                             0.000009
Lexington KY                                 0.000009
Tucson (Sierra Vista) AZ                     0.000008
New Orleans LA                               0.000008
Augusta GA                                   0.000008
Syracuse NY                                  0.000008
Springfield-Holyoke MA                       0.000007
Chattanooga TN                               0.000007
Providence-New Bedford,MA                    0.000007
Rochester-Mason City-Austin,IA               0.000007
Tallahassee FL-Thomasville GA                0.000007
Butte-Bozeman MT                             0.000003
Boise ID                                     0.000003
Name: geoNetwork.metro, Length: 93, dtype: float64
=======geoNetwork -- geoNetwork.networkDomain Infomation: ==========
nan                                      0.432594
comcast.net                              0.031808
rr.com                                   0.016408
verizon.net                              0.015091
ttnet.com.tr                             0.014638
comcastbusiness.net                      0.011050
hinet.net                                0.008763
virginm.net                              0.007098
3bb.co.th                                0.006691
prod-infinitum.com.mx                    0.006595
cox.net                                  0.006432
sbcglobal.net                            0.005962
btcentralplus.com                        0.005870
att.net                                  0.005788
google.com                               0.005572
optonline.net                            0.005502
totbb.net                                0.005417
vnpt.vn                                  0.004989
asianet.co.th                            0.004840
pldt.net                                 0.004435
rima-tde.net                             0.004386
amazonaws.com                            0.004171
t-ipconnect.de                           0.004046
telecomitalia.it                         0.003952
qwest.net                                0.003911
airtelbroadband.in                       0.003750
virtua.com.br                            0.003672
bell.ca                                  0.003214
ztomy.com                                0.003148
bhn.net                                  0.002934
                                           ...
nordext.net                              0.000001
qualitynet.li                            0.000001
airdeccanmail.net                        0.000001
nal-net.dk                               0.000001
hueystockstill.com                       0.000001
discovery.com                            0.000001
technologyservicesmanagementgroup.com    0.000001
msa.com                                  0.000001
fordav.com                               0.000001
action.org.sg                            0.000001
ms.com.hk                                0.000001
tricolor.tv                              0.000001
utg.ua                                   0.000001
driessen.nl                              0.000001
clinic.co.uk                             0.000001
grenergy.com                             0.000001
aspelinramm.se                           0.000001
colovos.com                              0.000001
provodov-net.ru                          0.000001
housailei.net                            0.000001
jda.de                                   0.000001
coreaccess.net                           0.000001
ranbaxy.com                              0.000001
acp99.com                                0.000001
psk-net.ru                               0.000001
it-arge.net                              0.000001
umh.edu                                  0.000001
cspirehome.net                           0.000001
serverptr.com                            0.000001
strathmore.ac.uk                         0.000001
Name: geoNetwork.networkDomain, Length: 28063, dtype: float64
=======geoNetwork -- geoNetwork.region Infomation: ==========
nan                            0.593210
California                     0.118956
New York                       0.029251
England                        0.014605
Texas                          0.009682
Bangkok                        0.008531
Washington                     0.008457
Illinois                       0.008394
Ho Chi Minh                    0.008023
Istanbul                       0.007005
Maharashtra                    0.006843
Ontario                        0.006636
Taipei City                    0.006406
Karnataka                      0.006060
Delhi                          0.005841
Hanoi                          0.005689
New South Wales                0.005458
Tamil Nadu                     0.005126
Ile-de-France                  0.004801
State of Sao Paulo             0.004636
Telangana                      0.004377
County Dublin                  0.004039
Tel Aviv District              0.004020
Tokyo                          0.003697
Jakarta                        0.003694
Masovian Voivodeship           0.003639
Virginia                       0.003432
Community of Madrid            0.003250
Victoria                       0.003033
Massachusetts                  0.002921
                                 ...
Lopburi                        0.000007
Lviv Oblast                    0.000007
Abruzzo                        0.000007
Leiria District                0.000007
Eskisehir Province             0.000007
Guanajuato                     0.000007
Islamabad Capital Territory    0.000007
Oran Province                  0.000007
Hradec Kralove Region          0.000007
Central Java                   0.000007
Binh Phuoc                     0.000007
Erzurum                        0.000007
Aydin Province                 0.000007
Queretaro                      0.000007
Rhone-Alpes                    0.000007
Sonora                         0.000007
State of Espirito Santo        0.000007
Puebla                         0.000007
Ha Tinh Province               0.000007
Assam                          0.000007
Nord-Pas-de-Calais             0.000007
Bremen                         0.000007
Phu Tho Province               0.000007
Manitoba                       0.000007
Overijssel                     0.000007
Baja California                0.000007
Okinawa Prefecture             0.000007
San Salvador Department        0.000006
Kumamoto Prefecture            0.000006
Montana                        0.000003
Name: geoNetwork.region, Length: 375, dtype: float64
=======geoNetwork -- geoNetwork.subContinent Infomation: ==========
Northern America      0.432309
Southeast Asia        0.086095
Southern Asia         0.065646
Western Europe        0.065417
Northern Europe       0.064370
Eastern Asia          0.051921
Eastern Europe        0.050073
South America         0.046180
Western Asia          0.042542
Southern Europe       0.039595
Central America       0.017244
Australasia           0.016481
Northern Africa       0.008502
Western Africa        0.002847
Caribbean             0.002663
Southern Africa       0.002400
Eastern Africa        0.002132
nan                   0.001625
Central Asia          0.001345
Middle Africa         0.000435
Melanesia             0.000090
Micronesian Region    0.000061
Polynesia             0.000028
Name: geoNetwork.subContinent, dtype: float64

# totals section

In [133]:
sc = [c for c in train.columns if c.startswith('totals.')]
train[sc].head()

,totals.bounces,totals.hits,totals.newVisits,totals.pageviews,totals.transactionRevenue,totals.visits
230774,NaN,11.0,1,8.0,NaN,1.0
89784,NaN,17.0,1,13.0,NaN,1.0
683463,NaN,6.0,1,5.0,NaN,1.0
648840,NaN,2.0,1,2.0,NaN,1.0
683201,NaN,2.0,1,2.0,NaN,1.0

In [102]:
train[sc].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 6 columns):
totals.bounces               450630 non-null object
totals.hits                  903653 non-null object
totals.newVisits             703060 non-null object
totals.pageviews             903553 non-null object
totals.transactionRevenue    11515 non-null float64
totals.visits                903653 non-null object
dtypes: float64(1), object(5)
memory usage: 41.4+ MB

In [103]:
train[['fullVisitorId', 'totals.newVisits']].head()

         fullVisitorId totals.newVisits
0  1131660440785968503                1
1   377306020877927890                1
2  3895546263509774583                1
3  4763447161404445595                1
4    27294437909732085              NaN

In [104]:
train.sort_values(['fullVisitorId', 'visitStartTime'], inplace=True)

In [105]:
id_len = train.groupby('fullVisitorId')['fullVisitorId'].transform(len)
id_len.head()

230774    1
89784     1
683463    1
648840    1
683201    2
Name: fullVisitorId, dtype: int64

In [106]:
train[['fullVisitorId', 'totals.newVisits']].loc[id_len > 1, :].head(n=10)

              fullVisitorId totals.newVisits
683201  0000040862739425590                1
683316  0000040862739425590              NaN
22457   0000174067426171406                1
747943  0000174067426171406              NaN
697940  0000436683523507380                1
836184  0000436683523507380              NaN
90129   0000485418944539313                1
619821  0000485418944539313              NaN
662160  0000572434142265465                1
594202  0000572434142265465              NaN

In [107]:
for c in sc:
    train[c] = train[c].astype(float)
    print(f"totals column--{c}: min = {train[c].min()} max = {train[c].max()}")

totals column--totals.bounces: min = 1.0 max = 1.0
totals column--totals.hits: min = 1.0 max = 500.0
totals column--totals.newVisits: min = 1.0 max = 1.0
totals column--totals.pageviews: min = 1.0 max = 469.0
totals column--totals.transactionRevenue: min = 10000.0 max = 23129500000.0
totals column--totals.visits: min = 1.0 max = 1.0

In [108]:
train['totals.newVisits'] = train['totals.newVisits'].fillna(0).astype("int8")

# trafficSource section

In [109]:
sc = [c for c in train.columns if 'trafficSource' in c]
train[sc].head()

,trafficSource.adContent,trafficSource.adwordsClickInfo.adNetworkType,trafficSource.adwordsClickInfo.gclId,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.campaign,trafficSource.isTrueDirect,trafficSource.keyword,trafficSource.medium,trafficSource.referralPath,trafficSource.source
230774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,organic,NaN,google
89784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,organic,NaN,google
683463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,organic,NaN,google
648840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,referral,/yt/about/pt-BR/,youtube.com
683201,NaN,Google Search,Cj0KEQiAifvEBRCVx5up6Ojgr5oBEiQALHw1TrnWAHiMtZ...,False,1,Top,AW - Dynamic Search Ads Whole Site,NaN,1hZbAqLCbjwfgOH7,cpc,NaN,google

In [110]:
train[sc].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903653 entries, 230774 to 141497
Data columns (total 12 columns):
trafficSource.adContent                         10946 non-null object
trafficSource.adwordsClickInfo.adNetworkType    21460 non-null object
trafficSource.adwordsClickInfo.gclId            21561 non-null object
trafficSource.adwordsClickInfo.isVideoAd        21460 non-null object
trafficSource.adwordsClickInfo.page             21460 non-null object
trafficSource.adwordsClickInfo.slot             21460 non-null object
trafficSource.campaign                          38306 non-null object
trafficSource.isTrueDirect                      274005 non-null object
trafficSource.keyword                           34361 non-null object
trafficSource.medium                            760507 non-null object
trafficSource.referralPath                      330941 non-null object
trafficSource.source                            903584 non-null object
dtypes: object(12)
memory usage: 89.6+ MB

In [111]:
for c in sc:
    print(f"================= trafficSource part: {c} ===================")
    if "gclId" in c:
        continue
    print(train[c].fillna("NAN").value_counts())

================= trafficSource part: trafficSource.adContent ===================
NAN                                            892707
Google Merchandise Collection                    5122
Google Online Store                              1245
Display Ad created 3/11/14                        967
Full auto ad IMAGE ONLY                           822
Ad from 12/13/16                                  610
Ad from 11/3/16                                   489
Display Ad created 3/11/15                        392
{KeyWord:Google Brand Items}                      251
{KeyWord:Google Merchandise}                      155
Ad from 11/7/16                                   123
Google Merchandise                                 87
First Full Auto Template Test Ad                   87
20% discount                                       75
{KeyWord:Google Branded Gear}                      67
{KeyWord:Looking for Google Bags?}                 65
Swag with Google Logos                             64
Display Ad created 11/17/14                        50
{KeyWord:Want Google Stickers?}                    42
JD_5a_v1                                           41
{KeyWord:Google Drinkware}                         32
{KeyWord:Google Men's T-Shirts}                    30
LeEco_1a                                           25
{KeyWord:Google Branded Kit}                       16
Full auto ad TEXT ONLY                             16
{KeyWord:Google Branded Apparel}                   10
Want Google Sunglasses                              8
Full auto ad TEXT/NATIVE                            7
Google Paraphernalia                                7
{KeyWord:Google Branded Outerwear}                  5
{KeyWord:Want Google Pet Toys?}                     4
Google Store                                        4
Official Google Merchandise - Fast Shipping         4
free shipping                                       3
Ad from 2/17/17                                     3
Full auto ad NATIVE ONLY                            3
url_builder                                         3
Full auto ad with Primary Color                     3
Free Shipping!                                      2
Google store                                        2
google store                                        1
Men's-Outerwear Google Apparel                      1
GA Help Center                                      1
visit us again                                      1
Swag w/ Google Logos                                1
Name: trafficSource.adContent, dtype: int64
================= trafficSource part: trafficSource.adwordsClickInfo.adNetworkType ===================
NAN                882193
Google Search       21453
Search partners         7
Name: trafficSource.adwordsClickInfo.adNetworkType, dtype: int64
================= trafficSource part: trafficSource.adwordsClickInfo.gclId ===================
================= trafficSource part: trafficSource.adwordsClickInfo.isVideoAd ===================
NAN      882193
False     21460
Name: trafficSource.adwordsClickInfo.isVideoAd, dtype: int64
================= trafficSource part: trafficSource.adwordsClickInfo.page ===================
NAN    882193
1       21362
2          73
3          10
5           7
7           3
9           2
4           2
14          1
Name: trafficSource.adwordsClickInfo.page, dtype: int64
================= trafficSource part: trafficSource.adwordsClickInfo.slot ===================
NAN    882193
Top     20956
RHS       504
Name: trafficSource.adwordsClickInfo.slot, dtype: int64
================= trafficSource part: trafficSource.campaign ===================
NAN                                                865347
Data Share Promo                                    16403
AW - Dynamic Search Ads Whole Site                  14244
AW - Accessories                                     7070
test-liyuhz                                           392
AW - Electronics                                       96
Retail (DO NOT EDIT owners nophakun and tianyu)        50
AW - Apparel                                           46
All Products                                            4
Data Share                                              1
Name: trafficSource.campaign, dtype: int64
================= trafficSource part: trafficSource.isTrueDirect ===================
NAN     629648
True    274005
Name: trafficSource.isTrueDirect, dtype: int64
================= trafficSource part: trafficSource.keyword ===================
NAN                                              869292
6qEhsCssdK0z36ri                                  11503
(Remarketing/Content targeting)                    2298
1hZbAqLCbjwfgOH7                                   2264
google merchandise store                           2209
Google Merchandise                                 1648
google store                                       1277
youtube                                             568
(User vertical targeting)                           489
1X4Me6ZKNV0zg-jV                                    467
(automatic matching)                                427
+google +store                                      377
+Google +Merchandise                                352
(content targeting)                                 299
+google +merchandise +store                         258
YouTube Merchandise                                 254
youtube merch                                       247
google merchandise                                  238
google merch                                        210
Youtube                                             166
+Google +Products                                   148
google shop                                         135
https://www.googlemerchandisestore.com/             135
Arts & Entertainment                                126
google online store                                 111
youtube t shirt                                     107
+youtube +merch                                     102
+YouTube +Merchandise                               102
google t shirt                                      101
+google +stores                                      99
                                                  ...
online clothing merchandise                           1
youuuu tube                                           1
google merchandise store miri                         1
google merchandse                                     1
google merchansize                                    1
Google rucksack                                       1
com.google                                            1
merchandising youtube                                 1
buy google t-shirt                                    1
Google g headphone                                    1
google cycle price                                    1
googles merchandise store                             1
google developer merchandise                          1
waze window cling                                     1
t-shirt =$6_*//*_                                     1
t shirt t shirts                                      1
women s outerwear                                     1
how to get free google t shirt                        1
go gool shop.com                                      1
buy google sycle                                      1
google cycle shop online                              1
google website store                                  1
pink you tube                                         1
youth youtube logo shirt                              1
google mercendise store                               1
Google tri                                            1
googlr store                                          1
mens printed tshirts bst colour for dark face         1
youtube stor                                          1
youtube webshop                                       1
Name: trafficSource.keyword, Length: 3659, dtype: int64
================= trafficSource part: trafficSource.medium ===================
organic      381561
referral     330955
NAN          143146
cpc           25326
affiliate     16403
cpm            6262
Name: trafficSource.medium, dtype: int64
================= trafficSource part: trafficSource.referralPath ===================
NAN                                                                                                                                                                                        572712
/                                                                                                                                                                                           75523
/yt/about/                                                                                                                                                                                  71036
/analytics/web/                                                                                                                                                                             14620
/yt/about/tr/                                                                                                                                                                               14599
/yt/about/vi/                                                                                                                                                                               13753
/yt/about/es-419/                                                                                                                                                                           12735
/yt/about/pt-BR/                                                                                                                                                                            12003
/yt/about/th/                                                                                                                                                                               11430
/yt/about/ru/                                                                                                                                                                               11193
/yt/about/es/                                                                                                                                                                                7092
/yt/about/en-GB/                                                                                                                                                                             6576
/yt/about/fr/                                                                                                                                                                                5704
/yt/about/ja/                                                                                                                                                                                4679
/permissions/using-the-logo.html                                                                                                                                                             4365
/yt/about/ar/                                                                                                                                                                                4280
/yt/about/pl/                                                                                                                                                                                3617
/yt/about/de/                                                                                                                                                                                2860
/yt/about/zh-TW/                                                                                                                                                                             2799
/yt/about/ro/                                                                                                                                                                                2139
/od/Things-To-Do-in-Silicon-Valley/fl/How-To-Visit-the-Googleplex-the-Google-Head-Office-in-Mountain-View.htm                                                                                2056
/yt/about/ko/                                                                                                                                                                                2036
/yt/about/it/                                                                                                                                                                                2012
/yt/about/id/                                                                                                                                                                                1888
/YKEI_mrn/items/c10b14f9a69ff71b1b7a                                                                                                                                                         1784
/analytics/web/inpage_launch                                                                                                                                                                 1638
/a/google.com/googletopia/discounts-deals-and-free-stuff/alphabet-google-discounts                                                                                                           1118
/offer/2145                                                                                                                                                                                  1064
/yt/about/iw/                                                                                                                                                                                1053
/mail/u/0/                                                                                                                                                                                   1034
                                                                                                                                                                                            ...
/pin/372180356689276551                                                                                                                                                                         1
/intl/ro/permissions/using-the-logo.html                                                                                                                                                        1
/mail/mu/mp/833/                                                                                                                                                                                1
/document/d/1LgGAo5BMlT0LgcKbyXvJmpLZKUjbXSFZDcNYoXV4vNM/edit                                                                                                                                   1
/intl/da/yt/about/brand-resources/                                                                                                                                                              1
/KnKVG60BRj                                                                                                                                                                                     1
/ads/richmedia/studio/pv2/45946907/dirty/index.html                                                                                                                                             1
/from=1000953c/bd_page_type=1/ssid=0/uid=0/pu=usm%403%2Csz%40320_1001%2Cta%40iphone_2_5.1_3_537/baiduid=D032948442CF175098F8C4859DB200AF/w=0_10_/t=iphone/l=3/tc                                1
/intl/fr-CA/yt/about/                                                                                                                                                                           1
/eVZuBV7pYn                                                                                                                                                                                     1
/Gi09YAqIHH                                                                                                                                                                                     1
/spreadsheets/d/1SeXdlyJYrRzr_NwV7FSpyKOyvYefdFuswhsYEAXTNbo/edit                                                                                                                               1
/Content/Email/AdvEdit.aspx                                                                                                                                                                     1
/hangouts/_/360photoinc.com/photog-roundup                                                                                                                                                      1
/ads/richmedia/studio/pv2/45678499/dirty/index.html                                                                                                                                             1
/ads/richmedia/studio/pv2/45678657/dirty/index.html                                                                                                                                             1
/~kristiyan/2082_pure_mix/index.html                                                                                                                                                            1
/mail/mu/mp/466/                                                                                                                                                                                1
/mail/mu/mp/509/                                                                                                                                                                                1
/mail/mu/mp/452/                                                                                                                                                                                1
/a/google.com/google-merchandise-store/mountain-view-on-site-merchandise-store                                                                                                                  1
/from=844b/bd_page_type=1/ssid=0/uid=0/pu=usm%402%2Csz%401320_2001%2Cta%40iphone_1_10.0_3_602/baiduid=197AEA1DD74E9B149E177CE586239544/w=0_10_/t=iphone/l=3/tc                                  1
/ads/richmedia/studio/pv2/60130879/20170328132913511/index.html                                                                                                                                 1
/mail/mu/mp/470/                                                                                                                                                                                1
/hangouts/_/google.com/tccmofficehours                                                                                                                                                          1
/hashtag/wazestore                                                                                                                                                                              1
/local/business/admin/bb/10248288688305646485                                                                                                                                                   1
/from=1011267h/bd_page_type=1/ssid=0/uid=0/pu=usm%400%2Csz%401321_1004%2Cta%40utouch_2_4.2_11_2.1/baiduid=132D94E708BD72F441C0072B979677F4/w=0_10_online+google+play+store/t=wap/l=3/tc         1
/mail/mu/mp/382/                                                                                                                                                                                1

In [118]:
# train["trafficSource.adwordsClickInfo.gclId"].value_counts()
# google 合作伙伴id？
!ls ../input

test.csv      test.csv.zip  train.csv     train.csv.zip

In [119]:
test = load_data('../input/test.csv', nrows)
test.head()

Loaded test.csv, data shape: (804684, 53)

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device.browser,device.browserSize,...,trafficSource.adwordsClickInfo.gclId,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.campaign,trafficSource.isTrueDirect,trafficSource.keyword,trafficSource.medium,trafficSource.referralPath,trafficSource.source
0,Organic Search,20171016,6167871330617112363,6167871330617112363_1508151024,Not Socially Engaged,1508151024,2,1508151024,Chrome,not available in demo dataset,...,NaN,NaN,NaN,NaN,(not set),True,(not provided),organic,NaN,google
1,Organic Search,20171016,0643697640977915618,0643697640977915618_1508175522,Not Socially Engaged,1508175522,1,1508175522,Chrome,not available in demo dataset,...,NaN,NaN,NaN,NaN,(not set),NaN,(not provided),organic,NaN,google
2,Organic Search,20171016,6059383810968229466,6059383810968229466_1508143220,Not Socially Engaged,1508143220,1,1508143220,Chrome,not available in demo dataset,...,NaN,NaN,NaN,NaN,(not set),NaN,(not provided),organic,NaN,google
3,Organic Search,20171016,2376720078563423631,2376720078563423631_1508193530,Not Socially Engaged,1508193530,1,1508193530,Safari,not available in demo dataset,...,NaN,NaN,NaN,NaN,(not set),NaN,(not provided),organic,NaN,google
4,Organic Search,20171016,2314544520795440038,2314544520795440038_1508217442,Not Socially Engaged,1508217442,1,1508217442,Safari,not available in demo dataset,...,NaN,NaN,NaN,NaN,(not set),NaN,(not provided),organic,NaN,google

In [120]:
test.columns

Index(['channelGrouping', 'date', 'fullVisitorId', 'sessionId',
       'socialEngagementType', 'visitId', 'visitNumber', 'visitStartTime',
       'device.browser', 'device.browserSize', 'device.browserVersion',
       'device.deviceCategory', 'device.flashVersion', 'device.isMobile',
       'device.language', 'device.mobileDeviceBranding',
       'device.mobileDeviceInfo', 'device.mobileDeviceMarketingName',
       'device.mobileDeviceModel', 'device.mobileInputSelector',
       'device.operatingSystem', 'device.operatingSystemVersion',
       'device.screenColors', 'device.screenResolution', 'geoNetwork.city',
       'geoNetwork.cityId', 'geoNetwork.continent', 'geoNetwork.country',
       'geoNetwork.latitude', 'geoNetwork.longitude', 'geoNetwork.metro',
       'geoNetwork.networkDomain', 'geoNetwork.networkLocation',
       'geoNetwork.region', 'geoNetwork.subContinent', 'totals.bounces',
       'totals.hits', 'totals.newVisits', 'totals.pageviews', 'totals.visits',
       'trafficSource.adContent',
       'trafficSource.adwordsClickInfo.adNetworkType',
       'trafficSource.adwordsClickInfo.criteriaParameters',
       'trafficSource.adwordsClickInfo.gclId',
       'trafficSource.adwordsClickInfo.isVideoAd',
       'trafficSource.adwordsClickInfo.page',
       'trafficSource.adwordsClickInfo.slot', 'trafficSource.campaign',
       'trafficSource.isTrueDirect', 'trafficSource.keyword',
       'trafficSource.medium', 'trafficSource.referralPath',
       'trafficSource.source'],
      dtype='object')

In [124]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804684 entries, 0 to 804683
Data columns (total 53 columns):
channelGrouping                                      804684 non-null object
date                                                 804684 non-null int64
fullVisitorId                                        804684 non-null object
sessionId                                            804684 non-null object
socialEngagementType                                 804684 non-null object
visitId                                              804684 non-null int64
visitNumber                                          804684 non-null int64
visitStartTime                                       804684 non-null int64
device.browser                                       804684 non-null object
device.browserSize                                   804684 non-null object
device.browserVersion                                804684 non-null object
device.deviceCategory                                804684 non-null object
device.flashVersion                                  804684 non-null object
device.isMobile                                      804684 non-null bool
device.language                                      804684 non-null object
device.mobileDeviceBranding                          804684 non-null object
device.mobileDeviceInfo                              804684 non-null object
device.mobileDeviceMarketingName                     804684 non-null object
device.mobileDeviceModel                             804684 non-null object
device.mobileInputSelector                           804684 non-null object
device.operatingSystem                               804684 non-null object
device.operatingSystemVersion                        804684 non-null object
device.screenColors                                  804684 non-null object
device.screenResolution                              804684 non-null object
geoNetwork.city                                      804684 non-null object
geoNetwork.cityId                                    804684 non-null object
geoNetwork.continent                                 804684 non-null object
geoNetwork.country                                   804684 non-null object
geoNetwork.latitude                                  804684 non-null object
geoNetwork.longitude                                 804684 non-null object
geoNetwork.metro                                     804684 non-null object
geoNetwork.networkDomain                             804684 non-null object
geoNetwork.networkLocation                           804684 non-null object
geoNetwork.region                                    804684 non-null object
geoNetwork.subContinent                              804684 non-null object
totals.bounces                                       420948 non-null object
totals.hits                                          804684 non-null object
totals.newVisits                                     604370 non-null object
totals.pageviews                                     804545 non-null object
totals.visits                                        804684 non-null object
trafficSource.adContent                              53791 non-null object
trafficSource.adwordsClickInfo.adNetworkType         53814 non-null object
trafficSource.adwordsClickInfo.criteriaParameters    804684 non-null object
trafficSource.adwordsClickInfo.gclId                 53862 non-null object
trafficSource.adwordsClickInfo.isVideoAd             53814 non-null object
trafficSource.adwordsClickInfo.page                  53814 non-null object
trafficSource.adwordsClickInfo.slot                  53814 non-null object
trafficSource.campaign                               804684 non-null object
trafficSource.isTrueDirect                           260513 non-null object
trafficSource.keyword                                413652 non-null object
trafficSource.medium                                 804684 non-null object
trafficSource.referralPath                           235323 non-null object
trafficSource.source                                 804684 non-null object
dtypes: bool(1), int64(4), object(48)
memory usage: 320.0+ MB

In [128]:
test['trafficSource.isTrueDirect'].fillna('nan').nunique()

1

In [129]:
def tidy_data(df):

    # Remove columns that has const value. May be indicate blank value
    na_vals = ['unknown.unknown', '(not set)', 'not available in demo dataset', 
        '(not provided)', '(none)', '<NA>']
    for c in df.columns:
        is_na = df[c].isin(na_vals)
        df.loc[is_na, c] = np.nan
    const_cols = [c for c in df.columns if df[c].notnull().sum() == 0]
    print(f"Only NA value column list: {const_cols}")
    df.drop(const_cols, axis=1, inplace=True)
    return df
test = tidy_data(test)

Only NA value column list: ['device.browserSize', 'device.browserVersion', 'device.flashVersion', 'device.language', 'device.mobileDeviceBranding', 'device.mobileDeviceInfo', 'device.mobileDeviceMarketingName', 'device.mobileDeviceModel', 'device.mobileInputSelector', 'device.operatingSystemVersion', 'device.screenColors', 'device.screenResolution', 'geoNetwork.cityId', 'geoNetwork.latitude', 'geoNetwork.longitude', 'geoNetwork.networkLocation', 'trafficSource.adwordsClickInfo.criteriaParameters']

In [130]:
test['socialEngagementType'].value_counts()

Not Socially Engaged    804684
Name: socialEngagementType, dtype: int64